html, body{
    width:100%; height:100%;
    margin:0;
}
body{
    padding-top:5vh; padding-bottom:5vh;
    padding-right:5vw; padding-left:5vw;
    box-sizing: border-box;
}
#wrapper{
    display:grid; margin:0; padding:0;
    grid-template-columns: repeat(4, [col] 20vw);
    grid-template-rows: repeat(7, [row] 12vh);
    row-gap: 1vh; column-gap: 2.5vw;
}
#name{
    background: url("https://i.postimg.cc/LXV4PK2Y/endlogo-removebg-preview.png") no-repeat;
    background-size:contain;
    width:100%; height:100%;
}
#heart{
    width:100%; height:100%;
    display:grid; grid-template-columns: 1fr 1fr 1fr;
}
#start{
    width:100%; height:100%;
}
#first{
    background: url("https://i.postimg.cc/hPQjCY0w/heart.png") no-repeat;
    background-size: contain;
}
#second{
    background: url("https://i.postimg.cc/hPQjCY0w/heart.png") no-repeat;
    background-size: contain;
}
#third{
    background: url("https://i.postimg.cc/hPQjCY0w/heart.png") no-repeat;
    background-size: contain;
}
article{
    border:1px solid gray;
    text-align: center;
    font-size: 1em;
    width:100%; height:50%;
}
#startButton{
    width:100%; height:100%;
    font-family: fantasy;
    font-size:1rem;
}
#left{
    background: url("https://i.postimg.cc/hPQjCY0w/heart.png") no-repeat;
    background-size:contain;
    grid-column-start: 1; grid-column-end: 3;
    grid-row-start: 2; grid-row-end: 8;
}
#right{
    background: url("https://i.postimg.cc/hPQjCY0w/heart.png") no-repeat;
    background-size:contain;
    grid-column-start: 3; grid-column-end: 5;
    grid-row-start: 2; grid-row-end: 8;
}