html, body{
    width:100%; height:100%;
    margin:0;
}

body{
    background: url("https://i.postimg.cc/vBZVvJtj/hems.jpg") no-repeat;
    background-size:cover;
    padding-top:5vh; padding-bottom:5vh;
    padding-right:5vw; padding-left:5vw;
    box-sizing: border-box;
}
.wrapper{
    display:grid; width:100%; height:100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 5vw;
}
.login{
    width:28vw; height:90vh;
    padding-top: 3vh; padding-bottom: 3vh;
    padding-left: 3vw; padding-right: 3vw;
    box-sizing: border-box;
    border-radius: 10px;
    color:white; font-family:sans-serif;
    box-shadow: -3px 3px 10px #cbced1, 3px 3px 10px #cbced1,
                3px -3px 10px #cbced1, -3px -3px 10px #cbced1;
}
.logo{
    background: no-repeat center/100% url("https://i.postimg.cc/rmdc8zwJ/lg2.png");
    background-size:contain;
    width: 100%;
    height: 45vh;
    margin: auto;
    border-radius: 5%;
    box-sizing: border-box;
    margin-bottom: 5vh;
}
label, input{
    width:100%; height:5vh;
    box-sizing: border-box;
    margin-top:1vh;
}
.login input{
    width:100%; height:5vh; 
    padding-top: 1vh; padding-bottom: 1vh;
    padding-left: 1vw; padding-right: 1vw;
    margin-bottom: 1vh;
    border-radius: 40px;
    box-shadow: -3px 3px 10px #cbced1;
    font-style: italic;
}
.inputName{
    font-size: 20px;
}
.gameWrapper{
    display: flex;
    justify-content: center;
}
.game1, .game2{
    width:20vw; height:65vh;
    box-sizing: border-box;
    box-shadow:  -3px 3px 10px #cbced1;
    background: url("https://i.postimg.cc/wxbhwjPk/frame.png") no-repeat;
    background-size: contain;
    visibility:hidden;
}
#timeAttack, #timeAttack img{
    width: 80%;
    height: 70%;
    border-radius: 15%;
    margin: auto;
}
#timeAttack img{
    width:100%; height:100%; border-radius: 15%;
}
#endless, #endless img{
    width: auto;
    height: 70%;
    border-radius: 15%;
    margin: auto;
}
#endless img{
    width: 100%; height: 100%; border-radius: 15%;
}
.game1 input, .game2 input{
    width:60%; height:20%;
    text-align: center;
    margin-left: 20%;
    border-radius: 5px;
    font-size:1.5rem; font-family:fantasy;
    background:#ecf0f3;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
